n8n/hex-generator-workflow.json
{
  "name": "Daggerheart Hex Generator",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "trigger-manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-hex",
        "options": {}
      },
      "id": "trigger-webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 200],
      "webhookId": "hex-generator"
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": []
        },
        "options": {}
      },
      "id": "merge-triggers",
      "name": "Merge Triggers",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [200, 100]
    },
    {
      "parameters": {
        "jsCode": "// Set defaults for optional parameters\nconst input = $input.first()?.json || {};\n\nconst regions = [\n  'The Jasmine Reaches',\n  'The Bitter Depths',\n  'The Forgotten Vaults',\n  'The Descent Shafts',\n  \"The Titan's Tomb\",\n  'Halfway Station',\n  'The Great Descent',\n  'The Weeping Gallery',\n  'The Bone Gardens'\n];\n\nconst terrainTypes = [\n  'cavern',\n  'fungal forest',\n  'underground lake',\n  'crystal formation',\n  'ancient ruins',\n  'lava tubes',\n  'bone fields',\n  'moss gardens',\n  'stalactite maze'\n];\n\nconst tiers = [1, 2, 3, 4];\n\n// Use provided values or pick random\nconst prompt = input.prompt || input.body?.prompt || '';\nconst region = input.region || input.body?.region || regions[Math.floor(Math.random() * regions.length)];\nconst terrain = input.terrain || input.body?.terrain || terrainTypes[Math.floor(Math.random() * terrainTypes.length)];\nconst tier = input.tier || input.body?.tier || tiers[Math.floor(Math.random() * tiers.length)];\n\nreturn {\n  prompt,\n  region,\n  terrain,\n  tier\n};"
      },
      "id": "set-defaults",
      "name": "Set Defaults",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 100]
    },
    {
      "parameters": {
        "operation": "getRepositoryContent",
        "owner": "={{ $credentials.github.owner || 'ElmerTucker' }}",
        "repository": "daggerheart-hexcrawl",
        "path": "_hexes"
      },
      "id": "get-existing-hexes",
      "name": "Get Existing Hexes",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [600, 100],
      "credentials": {
        "githubApi": {
          "id": "GITHUB_CREDENTIAL_ID",
          "name": "GitHub API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse existing hex files and find next ID\nconst files = $input.all();\n\nlet maxId = 0;\n\nfor (const file of files) {\n  const name = file.json.name || '';\n  // Extract numeric ID from filename like \"001-the-scorched-hollow.md\"\n  const match = name.match(/^(\\d+)-/);\n  if (match) {\n    const id = parseInt(match[1], 10);\n    if (id > maxId) maxId = id;\n  }\n}\n\nconst nextId = (maxId + 1).toString().padStart(3, '0');\n\n// Get defaults from previous node\nconst defaults = $('Set Defaults').first().json;\n\nreturn {\n  ...defaults,\n  hex_id: nextId\n};"
      },
      "id": "calculate-next-id",
      "name": "Calculate Next Hex ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 100]
    },
    {
      "parameters": {
        "agent": "toolsAgent",
        "promptType": "define",
        "text": "={{ $json.prompt ? 'Create a hex with this guidance: ' + $json.prompt : 'Create a new hex' }}\n\nRequired parameters:\n- Hex ID: {{ $json.hex_id }}\n- Region: {{ $json.region }}\n- Terrain Type: {{ $json.terrain }}\n- Tier: {{ $json.tier }}\n\nGenerate a complete hex following the schema. Use the generate_environment tool to create the environment stat block.",
        "options": {
          "systemMessage": "You are a co-GM for the \"Beast Feast\" Daggerheart TTRPG campaign. Beast Feast blends Monster Hunter and Delicious in Dungeon - players hunt dangerous creatures in a vast underground ecosystem and cook/craft from their remains.\n\nThe campaign explores the Plover Caves, specifically the Southern Depths, which contains these regions:\n- The Jasmine Reaches (fragrant fungal gardens)\n- The Bitter Depths (toxic, acidic environments)\n- The Forgotten Vaults (ancient storage and ruins)\n- The Descent Shafts (vertical passages, climbing hazards)\n- The Titan's Tomb (massive skeletal remains, bone structures)\n- Halfway Station (a settlement, trading post)\n- The Great Descent (the main thoroughfare downward)\n- The Weeping Gallery (water features, underground streams)\n- The Bone Gardens (ossuary-like, necromantic energy)\n\nThe entire underground is a viable ecosystem with predators, prey, harvestable resources, and factions competing for territory and materials.\n\n## YOUR TASK\nGenerate a hex for exploration. Output valid JSON matching this exact schema:\n\n```json\n{\n  \"hex_id\": \"001\",\n  \"title\": \"Descriptive Hex Title\",\n  \"terrain_type\": \"cavern\",\n  \"region\": \"The Weeping Gallery\",\n  \"environment\": {\n    \"name\": \"Environment Name\",\n    \"tier\": 2,\n    \"type\": \"Exploration|Social|Traversal|Event\",\n    \"description\": \"One evocative sentence.\",\n    \"impulses\": [\"Active impulse 1\", \"Active impulse 2\"],\n    \"difficulty\": 14,\n    \"potential_adversaries\": [\"Adversary 1\", \"Adversary 2\"],\n    \"features\": [\n      {\n        \"name\": \"Feature Name\",\n        \"type\": \"Passive\",\n        \"fear_cost\": null,\n        \"description\": \"Mechanical effect.\",\n        \"questions\": [\"Italicized question for GM?\"]\n      }\n    ]\n  },\n  \"encounters\": [\n    {\n      \"name\": \"Encounter Name\",\n      \"fear\": \"Hostile/negative outcome description\",\n      \"hope\": \"Positive outcome description\"\n    }\n  ],\n  \"factions\": [\n    {\n      \"name\": \"Faction Name\",\n      \"description\": \"Their presence and goals here\"\n    }\n  ],\n  \"points_of_interest\": [\n    \"Notable location or feature\"\n  ],\n  \"npcs\": [\n    {\n      \"name\": \"NPC Name\",\n      \"role\": \"Their role\",\n      \"description\": \"Brief description\"\n    }\n  ],\n  \"adventure_sites\": [\n    {\n      \"name\": \"Site Name\",\n      \"description\": \"What makes this an adventure location\"\n    }\n  ],\n  \"tags\": [\"tag1\", \"tag2\"],\n  \"created_at\": \"2026-02-03\"\n}\n```\n\n## DAGGERHEART MECHANICS REFERENCE\n\n### Fear/Hope\nDaggerheart uses Fear and Hope as dual outcomes. When players roll, the dice determine whether Fear (bad/hostile) or Hope (good/positive) occurs. Design encounters with both outcomes.\n\n### Tiers and Difficulty\n- Tier 1 (Level 1): Difficulty 10-11, damage 1d6+1 to 1d8+3\n- Tier 2 (Levels 2-4): Difficulty 13-14, damage 2d6+3 to 2d10+2\n- Tier 3 (Levels 5-7): Difficulty 16-17, damage 3d8+3 to 3d10+1\n- Tier 4 (Levels 8-10): Difficulty 19-20, damage 4d8+3 to 4d10+10\n\n### Environment Types\n- Exploration: Mystery, discovery, investigation\n- Social: Interpersonal challenges, negotiations\n- Traversal: Physical obstacles, movement\n- Event: Dramatic occurrences, battles, disasters\n\n### Feature Types (must be in this order)\n1. Passive: Always applies, no cost\n2. Action: GM uses on their turn, may cost Fear (1-3)\n3. Reaction: Triggered by PC actions\n\nEach feature MUST end with 1-3 italicized questions for GM inspiration.\n\n## BEAST FEAST TONE\n- Creatures are resources as much as threats\n- Food, materials, and monster parts matter\n- The underground is alien but has internal logic\n- Factions compete for territory and hunting grounds\n- Cooking and crafting are important activities\n- Balance danger with wonder and discovery\n\n## OUTPUT\nReturn ONLY valid JSON. No markdown code fences. No explanatory text. Just the JSON object."
        }
      },
      "id": "ai-agent",
      "name": "AI Hex Generator",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [1000, 100],
      "credentials": {
        "openAiApi": {
          "id": "OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "name": "generate_environment",
        "description": "Generate a Daggerheart environment stat block. Use this tool to create properly formatted environment data.",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"name\": {\n      \"type\": \"string\",\n      \"description\": \"Environment name\"\n    },\n    \"tier\": {\n      \"type\": \"number\",\n      \"description\": \"Tier 1-4\"\n    },\n    \"type\": {\n      \"type\": \"string\",\n      \"enum\": [\"Exploration\", \"Social\", \"Traversal\", \"Event\"],\n      \"description\": \"Environment type\"\n    },\n    \"theme\": {\n      \"type\": \"string\",\n      \"description\": \"Thematic guidance for the environment\"\n    }\n  },\n  \"required\": [\"name\", \"tier\", \"type\"]\n}"
      },
      "id": "tool-environment",
      "name": "Environment Generator Tool",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "model": "gpt-4.1",
        "options": {
          "temperature": 0.8
        }
      },
      "id": "openai-model",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [1000, -100],
      "credentials": {
        "openAiApi": {
          "id": "OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse and validate the AI output\nconst aiOutput = $input.first().json.output || $input.first().json.text || '';\n\nlet hexData;\n\ntry {\n  // Try to parse as JSON directly\n  hexData = JSON.parse(aiOutput);\n} catch (e) {\n  // Try to extract JSON from markdown code fences\n  const jsonMatch = aiOutput.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\n  if (jsonMatch) {\n    hexData = JSON.parse(jsonMatch[1].trim());\n  } else {\n    throw new Error('Could not parse AI output as JSON: ' + aiOutput.substring(0, 200));\n  }\n}\n\n// Validate required fields\nconst requiredFields = ['hex_id', 'title', 'terrain_type', 'region', 'environment', 'encounters'];\nfor (const field of requiredFields) {\n  if (!hexData[field]) {\n    throw new Error(`Missing required field: ${field}`);\n  }\n}\n\n// Ensure created_at is set\nif (!hexData.created_at) {\n  hexData.created_at = new Date().toISOString().split('T')[0];\n}\n\n// Ensure arrays exist\nhexData.factions = hexData.factions || [];\nhexData.points_of_interest = hexData.points_of_interest || [];\nhexData.npcs = hexData.npcs || [];\nhexData.adventure_sites = hexData.adventure_sites || [];\nhexData.tags = hexData.tags || [];\n\nreturn hexData;"
      },
      "id": "validate-output",
      "name": "Validate & Parse JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 100]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "output",
      "name": "Output Hex JSON",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1400, 100]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Merge Triggers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Merge Triggers",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Triggers": {
      "main": [
        [
          {
            "node": "Set Defaults",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Defaults": {
      "main": [
        [
          {
            "node": "Get Existing Hexes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing Hexes": {
      "main": [
        [
          {
            "node": "Calculate Next Hex ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Next Hex ID": {
      "main": [
        [
          {
            "node": "AI Hex Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Hex Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Environment Generator Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Hex Generator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Hex Generator": {
      "main": [
        [
          {
            "node": "Validate & Parse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Parse JSON": {
      "main": [
        [
          {
            "node": "Output Hex JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateId": "daggerheart-hex-generator"
  }
}
